---
import BaseLayout from './BaseLayout.astro';
import { type Locale } from '@/i18n/ui';

interface Props {
  title?: string;
  description?: string;
  image?: string;
  locale?: Locale;
}

const { title, description, image, locale } = Astro.props;
---

<BaseLayout title={title} description={description} image={image} locale={locale}>
  <article class="container-custom section-padding">
    <div class="mx-auto max-w-3xl">
      <slot />
    </div>
  </article>
</BaseLayout>
